/*====  RESET ============================ */


a {
  text-decoration: none;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;
  /* colors */
  --hue: 100;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*====  BASE ============================ */
body {
  font: 400 1rem 'DM Sans', sans-serf;
  color: var(--text-color);
  background: var(--body-color);
}

h1 {
  font: 700 2.25rem 'Poppins', sans-serif;
  color: rgb(79, 79, 80);
  text-align: center;
}

/*====  ? ============================ */
:root {
  font-size: 100%;
}

/*====  LAYOUT ============================ */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 90%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

#header {
  height: 8.5rem;
  border-bottom: 0.2rem solid #e4e4e4;
  margin-bottom: 6rem;
  display: flex;
}

  

/*====  LOGO ============================ */

#logohsa{
  width: 14rem;
  height: 5rem;
}

/*====  HOME ============================ */

#home .container {
  margin: 2rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 2rem;
}


/*====  BUTTON ============================ */

.button {
  font-family: inherit;
  cursor: pointer;
}

.button {
  margin: 0.5rem;
  padding: 1rem 1rem;
  background: rgb(182, 181, 181);
  color: var(--text-color-light);
  display: inline-table;
  border-radius: 0.7rem;
  width: 9rem;
  height: 5rem;
}

.button i {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 0.7rem;
  font-size: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

/*====  botão início ============================ */


.menu ul a:hover {
  color: rgb(182, 181, 181);
}

.menu ul a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background:  rgb(182, 181, 181);
  display: block;
}

/*====  MEDIA QUERIES ============================ */
/*extra large devices: 1025px — 1200px: Desktops, large screens */
@media screen and (min-width: 1280px) {
  
/*====  LOGO ============================ */

.section {
margin: 30rem;
}

#logohsa{
  width: 15rem;
  height: 5rem;

}

    #header {
    margin-bottom: -25rem;
    height: 8rem;
    }

    .button {
      margin: 0.7rem;
      padding: 1rem 0.5rem;
      background: rgb(182, 181, 181);
      color: var(--text-color-light);
      display: inline-table;
      border-radius: 0.8rem;
      width: 10rem;
      height: 8rem;
      font-size: 1.3rem;
      top: 0;
      text-decoration: none;
      border: 0rem solid #fff;
      transition: .3s;
      }

    
    .button:hover {
      background-color: #777;
      color: #fff;
      box-shadow: 0 2px 3px 777;
      transform: translateY(-15px);
     }
    
    .button i {
      display: block;
      margin-bottom: 0.5rem;
      margin-top: 0.7rem;
      font-size: 2.5rem;
      margin-left: auto;
      margin-right: auto;
    }
    

  /*====  home ============================ */

  #home .container {
    grid-auto-flow: column;
    width: fit-content;
  }

  h1 {
    font: 700 2.5rem 'Poppins', sans-serif;
    color: rgb(79, 79, 80);
    text-align: center;
}
}

/*large devices: 769px — 1024px: Small screens, laptops */
@media  screen and (max-width: 1280px) {

  .section {
    margin: 15rem;
    }

  #logohsa{
    width: 12rem;
    height: 4rem;
  }
  
  #header {
    margin-bottom: -10rem;
    height: 5.5rem;
  }

  h1 {
    font: 700 1.8rem 'Poppins', sans-serif;
    color: rgb(79, 79, 80);
    text-align: center;
  }
  
  
  .button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: rgb(182, 181, 181);
    color: var(--text-color-light);
    display: inline-table;
    border-radius: 0.7rem;
    width: 7rem;
    height: 6rem;
    font-size: 1rem;
   }

  .button i {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.7rem;
    font-size: 2.2rem;
    margin-left: auto;
    margin-right: auto;
  }

   /*====  botão início ============================ */

   .home {
    font: 700 1rem 'Poppins', sans-serif;
    color: rgb(79, 79, 80);
    text-align: center;
    margin: 2rem;
    }

 
}
